In [63]:
#Ans:1

In [64]:
# Parent class
class Animal:
    def speak(self):
        print("The animal makes a sound.")

In [66]:
a = Animal()

In [69]:
a.speak()

The animal makes a sound.

In [71]:
# Child class
class Dog(Animal):
    def speak(self):
        print("Bark!")

In [72]:
c = Dog()

In [73]:
c.speak()

Bark!

In [75]:
#Ans 2

In [76]:
from abc import ABC, abstractmethod
import math

In [77]:
class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

In [78]:
# Derived class: Circle
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

In [79]:
circle = Circle(5)

In [80]:
print("Circle area:", circle.area())

Circle area: 78.53981633974483

In [81]:
# Derived class: Rectangle
class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

In [83]:
rectangle = Rectangle(5, 10)

In [84]:
print("Rectangle area:", rectangle.area())

Rectangle area: 50

In [85]:
# Ans 3

In [86]:
# Base class
class Vehicle:
    def __init__(self, vehicle_type):
        self.type = vehicle_type

# Derived class
class Car(Vehicle):
    def __init__(self, vehicle_type, brand):
        super().__init__(vehicle_type)
        self.brand = brand

# Further derived class
class ElectricCar(Car):
    def __init__(self, vehicle_type, brand, battery_capacity):
        super().__init__(vehicle_type, brand)
        self.battery = battery_capacity

    def display_info(self):
        print(f"Type: {self.type}")
        print(f"Brand: {self.brand}")
        print(f"Battery Capacity: {self.battery} kWh")

In [87]:
tesla = ElectricCar("Electric Vehicle", "Tesla", 75)

In [ ]:

tesla.display_info()

Type: Electric Vehicle
Brand: Tesla
Battery Capacity: 75 kWh

In [88]:
#Ans 4

In [ ]:
# Base class
class Bird:
    def fly(self):
        print("This bird can fly.")

In [ ]:
# Derived class: Sparrow
class Sparrow(Bird):
    def fly(self):
        print("Sparrow flies high in the sky.")

In [ ]:
# Derived class: Penguin
class Penguin(Bird):
    def fly(self):
        print("Penguins cannot fly, they swim.")

In [89]:
def bird_flight(bird):
    bird.fly()

In [ ]:
sparrow = Sparrow()

In [ ]:

penguin = Penguin()

In [ ]:
bird_flight(sparrow)

Sparrow flies high in the sky.

In [ ]:
bird_flight(penguin)

Penguins cannot fly, they swim.

In [96]:
# Ans 5

In [ ]:
class BankAccount:
    def __init__(self, initial_balance=0):
        self.__balance = initial_balance  # Private attribute

    # Public method to deposit money
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print(f"Deposited: ${amount}")
        else:
            print("Deposit amount must be positive.")

    # Public method to withdraw money
    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            print(f"Withdrew: ${amount}")
        else:
            print("Invalid withdrawal amount or insufficient balance.")

    # Public method to check balance
    def check_balance(self):
        print(f"Current Balance: ${self.__balance}")

In [ ]:
account = BankAccount(100)

In [ ]:
account.check_balance()

Current Balance: $100

In [ ]:
account.deposit(50)
account.withdraw(30)
account.check_balance()

Deposited: $50
Withdrew: $30
Current Balance: $120

In [97]:
#  Ans 6

In [ ]:
# Base class
class Instrument:
    def play(self):
        print("Playing an instrument.")

# Derived class: Guitar
class Guitar(Instrument):
    def play(self):
        print("Strumming the guitar.")

# Derived class: Piano
class Piano(Instrument):
    def play(self):
        print("Playing the piano keys.")

# Function to demonstrate runtime polymorphism
def perform(instrument: Instrument):
    instrument.play()

In [ ]:
piano = Piano()

In [ ]:
guitar = Guitar()

In [ ]:
perform(guitar)

Strumming the guitar.

In [ ]:
perform(piano)

Playing the piano keys.

In [102]:
#  Ans 7

In [ ]:
class MathOperations:
    # Class method to add two numbers
    @classmethod
    def add_numbers(cls, a, b):
        return a + b

    # Static method to subtract two numbers
    @staticmethod
    def subtract_numbers(a, b):
        return a - b

In [ ]:
sum_result = MathOperations.add_numbers(10, 5)
diff_result = MathOperations.subtract_numbers(10, 5)

In [ ]:
print("Sum:", sum_result)

Sum: 15

In [ ]:
print("Difference:", diff_result)

Difference: 5

In [103]:
# Ans 8

In [104]:
class Person:
    # Class variable to keep track of the count
    count = 0

    def __init__(self, name):
        self.name = name
        Person.count += 1  # Increment count whenever a new Person is created

    # Class method to return the number of Person instances
    @classmethod
    def get_person_count(cls):
        return cls.count

In [105]:
p1 = Person("Alice")
p2 = Person("Bob")
p3 = Person("Charlie")

In [ ]:
print("Total persons created:", Person.get_person_count())

Total persons created: 3

In [106]:
 # Ans 9

In [107]:
class Fraction:
    def __init__(self, numerator, denominator):
        if denominator == 0:
            raise ValueError("Denominator cannot be zero.")
        self.numerator = numerator
        self.denominator = denominator

    def __str__(self):
        return f"{self.numerator}/{self.denominator}"

In [108]:
f = Fraction(3, 4)
print(f)

3/4

In [109]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"Vector({self.x}, {self.y})"

In [ ]:
v1 = Vector(2, 3)
v2 = Vector(4, 5)
v3 = v1 + v2
print(v3)

Vector(6, 8)

In [110]:
# Ans 10

In [111]:
class Vector:
    def __init__(self, components):
        if not components:
            raise ValueError("Vector must have at least one component.")
        self.components = components

    def __add__(self, other):
        if not isinstance(other, Vector):
            return NotImplemented
        if len(self.components) != len(other.components):
            raise ValueError("Vectors must have the same dimensions to be added.")
        added_components = [a + b for a, b in zip(self.components, other.components)]
        return Vector(added_components)

    def __str__(self):
        return f"Vector({', '.join(str(c) for c in self.components)})"

In [112]:
v1 = Vector([1, 2, 3])
v2 = Vector([4, 5, 6])
v3 = v1 + v2
print(v3)

Vector(5, 7, 9)

In [114]:
#Ans 11

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")

In [ ]:
person1 = Person("Alice", 25)
person1.greet()

Hello, my name is Alice and I am 25 years old.

In [ ]:
person2 = Person("Bob", 30)
person2.greet()

Hello, my name is Bob and I am 30 years old.

In [116]:
# Ans 12

In [ ]:
class Student:
    def __init__(self, name, grades):
        self.name = name
        self.grades = grades

    def average_grade(self):
        if not self.grades:
            return 0
        return sum(self.grades) / len(self.grades)

In [ ]:
student1 = Student("Alice", [85, 90, 78])

In [ ]:
print(f"{student1.name}'s average grade: {student1.average_grade()}")

Alice's average grade: 84.33333333333333

In [117]:
# Ans 13

In [118]:
class Rectangle:
    def __init__(self):
        self.length = 0
        self.width = 0

    def set_dimensions(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

In [ ]:
rect = Rectangle()
rect.set_dimensions(5, 3)
print(f"The area of the rectangle is: {rect.area()}")

The area of the rectangle is: 15

In [119]:
# Ans 14

In [ ]:
#employedment class
class Employee:
    def __init__(self, name, hours_worked, hourly_rate):
        self.name = name
        self.hours_worked = hours_worked
        self.hourly_rate = hourly_rate

    def calculate_salary(self):
        return self.hours_worked * self.hourly_rate

In [ ]:
#manager subclass

In [ ]:
class Manager(Employee):
    def __init__(self, name, hours_worked, hourly_rate, bonus):
        super().__init__(name, hours_worked, hourly_rate)
        self.bonus = bonus

    def calculate_salary(self):
        base_salary = super().calculate_salary()
        return base_salary + self.bonus

In [ ]:
employee = Employee("Alice", 40, 20)
print(f"{employee.name}'s salary is: ${employee.calculate_salary():.2f}")

Alice's salary is: $800.00

In [ ]:
manager = Manager("Bob", 45, 30, 500)
print(f"{manager.name}'s salary is: ${manager.calculate_salary():.2f}")

Bob's salary is: $1850.00

In [120]:
# Ans 15

In [ ]:
class Product:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity

    def total_price(self):
        return self.price * self.quantity

In [ ]:
product1 = Product("Laptop", 75000, 2)
print(f"{product1.name} - Total Price: ₹{product1.total_price():,.2f}")

Laptop - Total Price: ₹150,000.00

In [121]:
# Ans 16

In [ ]:
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def sound(self):
        pass

class Cow(Animal):
    def sound(self):
        return "Moo"

class Sheep(Animal):
    def sound(self):
        return "Baa"

In [ ]:
def main():
    cow = Cow()
    sheep = Sheep()

    print(f"Cow says: {cow.sound()}")
    print(f"Sheep says: {sheep.sound()}")

if __name__ == "__main__":
    main()

Cow says: Moo
Sheep says: Baa

In [122]:
# Ans 17

In [ ]:
class Book:
    def __init__(self, title, author, year_published):
        self.title = title
        self.author = author
        self.year_published = year_published

    def get_book_info(self):
        return f"Title: {self.title}, Author: {self.author}, Year Published: {self.year_published}"

In [ ]:
book = Book("1984", "George Orwell", 1949)
print(book.get_book_info())

Title: 1984, Author: George Orwell, Year Published: 1949

In [123]:
# Ans 18

In [ ]:
#Ans 18
class House:
    def __init__(self, address, price):
        self.address = address
        self.price = price

    def get_info(self):
        return f"Address: {self.address}, Price: ₹{self.price:,.2f}"

class Mansion(House):
    def __init__(self, address, price, number_of_rooms):
        super().__init__(address, price)
        self.number_of_rooms = number_of_rooms

    def get_info(self):
        base_info = super().get_info()
        return f"{base_info}, Number of Rooms: {self.number_of_rooms}"

In [ ]:
house = House("123 Main St, Noida", 5000000)
print(house.get_info())

Address: 123 Main St, Noida, Price: ₹5,000,000.00

In [ ]:
mansion = Mansion("456 Luxury Ave, Noida", 15000000, 10)
print(mansion.get_info())

Address: 456 Luxury Ave, Noida, Price: ₹15,000,000.00, Number of Rooms: 10